body {
background-color: #f0df8b;
font-family: Arial, sans-serif;
padding: 20px;

}
title {
color: darkgreen;
text-align: center;

}
p {
font-size: 18px;
text-align: justify;
}
li{
margin-bottom: 10px;

}

img{
border-radius: 10px;
width: 150px;
height: 200px;

}

table {
  border-collapse: collapse;   
  width: 70%;                  
  margin: 20px auto;    
  background-color: aliceblue;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
  font-family: Arial, sans-serif;
}

th, td {
  border: 1px solid #888;      
  padding: 12px 15px;          
  text-align: center;          
}

th { 
  font-weight: bold;
  background-color: aliceblue;
}

tr:hover {
    background-color: aliceblue; 
}
a {
  color: darkblue;       
  text-decoration: none; 
  transition: color 0.3s ease; 
}

a:hover {
  color: orange;         
  text-decoration: underline; 
}